<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mac.SafeWalk">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Features -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />
    <uses-feature
            android:required="true"
            android:name="android.hardware.telephony"/>

    <application android:icon="@drawable/icon_big_feet"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".HomeScreenActivity"
                  android:screenOrientation="portrait"
                android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
        </activity>
        <activity android:name=".SendMessageActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mac.SafeWalk"/>
        </activity>
        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".HomeScreenActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.mac.SafeWalk"/>
        </activity>




        <!-- Google play services version number -->
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />


        <!-- API key -->
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDDiT7WRiz3wFSCmgj30n-2_UxdnPiTQa4" />



    </application>
</manifest>
